@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Fondo oscuro en modo oscuro */
    --foreground: #ededed; /* Texto claro en modo oscuro */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Press Start 2P", cursive; /* Fuente retro */
}

/* Puedes agregar más personalizaciones CSS si es necesario */
